{% extends 'adminpanel/admin_base.html' %} 
{% load static %}

 {% block content %}
<body class="nk-body bg-lighter npc-default has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
        {% include 'adminpanel/navigation/sidebar.html' %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
               {% include 'adminpanel/navigation/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">levels list  </span> </h3>
                                        </div><!-- .nk-block-head-content -->
                                        
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="row g-gs">
                                        
                                        
                                        <div class="col-xxl-12 col-sm-12">
                                            <div class="card">
                                                <div class="nk-ecwg nk-ecwg6">
                                                    <div class="card-inner">
                                                        <div class="card-title-group">
                                                            <div class="card-title">
                                                                <h6 class="title">Add levels form</h6>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="data">
                                                            <div class="data-group">

                                                             <form  class="" method="POST" action="{% url 'levels' %}"  enctype="multipart/form-data">
            	                                             {% csrf_token %}

                                                            <label>Title</label>
                                                            <br>
                                                            <input type="text" class="" name="title" />
                                                            <br><br>

                                                             <label>Id</label>
                                                            <br>
                                                            <input type="text" class="" name="get_level_id" />
                                                            <br><br>

                                                             <label>Price</label>
                                                            <br>
                                                            <input type="number" class="" name="price" />
                                                            <br><br>
                                                            
                                                            <label>Description</label>
                                                            <br>
                                                            <textarea  name="description"> </textarea>
                                                            <br>
                                                            <br>

                                                            <button class="btn btn-primary" >Submit</button>
                                                            </form>
                                                                
                                                            </div>
                                                        </div>
                                                    </div><!-- .card-inner -->
                                                </div><!-- .nk-ecwg -->
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                       
                                        <div class="col-xxl-12"> 
                                            <div class="card card-full">
                                                <div class="card-inner">
                                                    <div class="card-title-group">
                                                        <div class="card-title">
                                                            <h6 class="title">Categories list</a> </span> </h6>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-tb-list mt-n2">




                                              <div class="card card-preview">
                                            <div class="card-inner">
                                                <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                                    <thead>
                                                        <tr class="nk-tb-item nk-tb-head">
                                                            
                                                            <th class="nk-tb-col"><span class="sub-text">ID</span></th>
                                                            <th class="nk-tb-col tb-col-mb"><span class="sub-text">Title</span></th>
                                                             <th class="nk-tb-col tb-col-mb"><span class="sub-text">Price</span></th>
                                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Description</span></th>
                                                           
                                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Status</span></th>
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for level in get_level_list %}
                                                        <tr class="nk-tb-item">

                                                            <td class="nk-tb-col">
                                                               {{forloop.counter}}
                                                            </td>
                                                            <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                                {{level.title}}
                                                            </td>

                                                             <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                                {{level.price}}
                                                            </td>
                                                            <td class="nk-tb-col tb-col-md">
                                                                {{level.description}}
                                                            </td>
                                                           
                                                            <td class="nk-tb-col tb-col-md">
                                                                <a href="{% url 'levels_questions' level.id %}" class="btn btn-success">Level Questions</a>
                                                            </td>
                                                           
                                                        </tr><!-- .nk-tb-item  -->
                                                        {% endfor %}
                                                
                                                     
                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- .card-preview -->



                                                    
                                                    
                                                   
                                                    
                                                    
                                                </div>
                                            </div><!-- .card -->
                                        </div>

                                        
                                    </div><!-- .row -->
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s 
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2020 DashLite. Template by <a href="https://softnio.com" target="_blank">Softnio</a>
                            </div>
                            <div class="nk-footer-links">
                                <ul class="nav nav-sm">
                                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    
    {% endblock content %}
