{% extends 'adminpanel/admin_base.html' %} 
{% load static %}

 {% block content %}
<body class="nk-body bg-lighter npc-default has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
        {% include 'adminpanel/navigation/sidebar.html' %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
               {% include 'adminpanel/navigation/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">User List</h3>
                                        </div><!-- .nk-block-head-content -->
                                        
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="row g-gs">
                                        <div class="col-xxl-3 col-sm-4">
                                            <div class="card">
                                                <div class="nk-ecwg nk-ecwg6">
                                                    <div class="card-inner">
                                                        <div class="card-title-group">
                                                            <div class="card-title">
                                                                <h6 class="title">Total Users</h6>
                                                            </div>
                                                        </div>
                                                        <div class="data">
                                                            <div class="data-group">
                                                                <div class="amount">{{get_user_list.count}}</div>
                                                                <div class="nk-ecwg6-ck">
                                                                    <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- .card-inner -->
                                                </div><!-- .nk-ecwg -->
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                        <div class="col-xxl-3 col-sm-4">
                                            <div class="card">
                                                <div class="nk-ecwg nk-ecwg6">
                                                    <div class="card-inner">
                                                        <div class="card-title-group">
                                                            <div class="card-title">
                                                                <h6 class="title">Female Users</h6>
                                                            </div>
                                                        </div>
                                                        <div class="data">
                                                            <div class="data-group">
                                                                <div class="amount">{{female_users.count}}</div>
                                                                <div class="nk-ecwg6-ck">
                                                                    <canvas class="ecommerce-line-chart-s3" id="todayRevenue"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- .card-inner -->
                                                </div><!-- .nk-ecwg -->
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                        <div class="col-xxl-3 col-sm-4">
                                            <div class="card">
                                                <div class="nk-ecwg nk-ecwg6">
                                                    <div class="card-inner">
                                                        <div class="card-title-group">
                                                            <div class="card-title">
                                                                <h6 class="title">Male Users</h6>
                                                            </div>
                                                        </div>
                                                        <div class="data">
                                                            <div class="data-group">
                                                                <div class="amount">{{male_users.count}}</div>
                                                                <div class="nk-ecwg6-ck">
                                                                    <canvas class="ecommerce-line-chart-s3" id="todayCustomers"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- .card-inner -->
                                                </div><!-- .nk-ecwg -->
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                           


                             
                                        <div class="col-xxl-12"> 
                                            <div class="card card-full">
                                                <div class="card-inner">
                                                    <div class="card-title-group">
                                                        <div class="card-title">
                                                            <h6 class="title">User List </h6>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-tb-list mt-n2">




                                              <div class="card card-preview">
                                            <div class="card-inner">

                                            <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                                    <thead>
                                                        <tr class="nk-tb-item nk-tb-head">
                                                            
                                                            <th class="nk-tb-col"><span class="sub-text">ID</span></th>
                                                            <th class="nk-tb-col tb-col-mb"><span class="sub-text">Username</span></th>
                                                             <th class="nk-tb-col tb-col-mb"><span class="sub-text">Email</span></th>
                                                             <th class="nk-tb-col tb-col-mb"><span class="sub-text">Gender</span></th>
                                                             <th class="nk-tb-col tb-col-mb"><span class="sub-text">Age</span></th>
                                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Country</span></th>
                                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">wallet Balance</span></th>
                                                           
                                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Actions</span></th>
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for user in get_user_list %}
                                                        <tr class="nk-tb-item">

                                                            <td class="nk-tb-col">
                                                               {{forloop.counter}}
                                                            </td>
                                                            <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                                {{user.username}}
                                                                {% comment %} <a href="{% url 'delete_user' user.id %}" class=" btn-danger ">Delete User</a> {% endcomment %}
                                                            </td>

                                                             <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                                {{user.email}}
                                                            </td>
                                                             <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                                {{user.profile.gender}}
                                                            </td>
                                                             <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                                {{user.profile.age}}
                                                            </td>

                                                            <td class="nk-tb-col tb-col-md">
                                                                {{user.profile.user_country}}
                                                            </td>

                                                            <td class="nk-tb-col tb-col-md">
                                                                {{user.wallet.balance}}
                                                            </td>
                                                           
                                                            <td class="nk-tb-col tb-col-md">
                                                                <a href="{% url 'user_dash' user.id %}" class="btn btn-primary ">User Data</a>
                                                            </td>
                                                           
                                                        </tr><!-- .nk-tb-item  -->
                                                        {% endfor %}
                                                
                                                     
                                                       
                                                    </tbody>
                                                </table>

                                               
                                            </div>
                                        </div><!-- .card-preview -->



                                                    
                                                    
                                                   
                                                    
                                                    
                                                </div>
                                            </div><!-- .card -->
                                        </div>

                                        
                                    </div><!-- .row -->
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s 
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2020 DashLite. Template by <a href="https://softnio.com" target="_blank">Softnio</a>
                            </div>
                            <div class="nk-footer-links">
                                <ul class="nav nav-sm">
                                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    
    {% endblock content %}
